*{
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.md-sheetIcon {
  margin-right: 10px;
  width:25px;
  height:25px;
  color: #fff !important;
  background-color: #f44336!important;
  padding: 5px;
  border-radius: 50%;
}

.md-sheetIcon .fa {
  margin-left: 7.8px;
  margin-top: 3px;
  width: 16px;
  height: 16px;
}

.bgm-lightgreen {
  	color: #fff;
  	background-color: #8bc34a!important;
}

.bgm-red {
	color: #fff !important;
  background-color: #f44336!important;
}

.standStatus {
  padding:2px;
}

.standImage {
  max-height: 190px;
}
