<md-bottom-sheet class="md-list md-has-header" ng-controller="MainController">
  <md-subheader ng-cloak>{{event.eventName}} on {{prettyDateOnly(event.eventDate)}}</md-subheader>
  <md-list ng-cloak>

    <md-list-item>
      <span class="md-sheetIcon">
        <i class="fa fa-tag" aria-hidden="true"></i>
        <md-tooltip>
          Event Summary
        </md-tooltip>
      </span>
        <span class="md-inline-list-icon-label">{{event.eventSummary}}</span>
    </md-list-item>

    <md-list-item>
        <span class="md-sheetIcon">
          <i class="fa fa-location-arrow" aria-hidden="true"></i>
          <md-tooltip>
            Event Address
          </md-tooltip>
        </span>
        <span class="md-inline-list-icon-label">{{ event.eventAddress }}</span>
    </md-list-item>

    <md-list-item>
        <span class="md-sheetIcon">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <md-tooltip>
            Event Geo-coordinates
          </md-tooltip>
        </span>
        <span class="md-inline-list-icon-label">Lat: {{event.lat}}, Lon: {{event.lon}}</span>
    </md-list-item>

    <md-list-item>
      <span class="md-sheetIcon">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <md-tooltip>
          Event Date
        </md-tooltip>
      </span>
        <span class="md-inline-list-icon-label">{{prettyDateOnly(event.eventDate)}} ({{prettyTime(event.eventDate)}})</span>
    </md-list-item>

    <md-list-item>
      <a href="/event/{{event.eventId}}/stands">
        <md-button class="md-raised md-primary">Book Your Place</md-button></a>
      <a href="/event/{{event.eventId}}/sendreport">
        <md-button class="md-raised md-warn">
        Send Reports
        <md-tooltip md-direction="top">
          Pressing this button will send reports to the company administrator regarding this event
        </md-tooltip>
      </md-button></a>
    </md-list-item>


  </md-list>
</md-bottom-sheet>
